<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="IntroToWix">
            <Component Id="cmp581720539DA599D6A51B07A9CE4B87F5" Directory="INSTALLFOLDER" Guid="PUT-GUID-HERE">
                <File Id="fil20645EB0811A1A999FB3EFC7FB55C7D7" KeyPath="yes" Source="$(var.IntroToWix.TargetDir)\IntroToWix.Common.dll" />
            </Component>
            <Component Id="cmp996281E1402AF932F0732EEF4F66C1E6" Directory="INSTALLFOLDER" Guid="PUT-GUID-HERE">
                <File Id="filC6C6ABEE8A0AF57A0204E8CF81DD68D7" KeyPath="yes" Source="$(var.IntroToWix.TargetDir)\IntroToWix.exe" />
            </Component>
            <Component Id="cmpD449D4E891B8184559109783FEB480D0" Directory="INSTALLFOLDER" Guid="PUT-GUID-HERE">
                <File Id="fil64659D2966B6700E59948A4900EE09D3" KeyPath="yes" Source="$(var.IntroToWix.TargetDir)\IntroToWix.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>